body{
    background-color: #caf0f8;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #023e8a;
    color: #caf0f8;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.currency-converter{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.currency-converter select{
    padding: 10px;
    background: #caf0f8;
    color: #023e8a;
}
.currency-converter input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 25px;
    text-align: right;
    color: #caf0f8;
}
.exchange-rate{
    font-size: 16px;
    font-weight: 600;
}
